{% extends "base.html" %}
{% block title %}PlayaWiFi{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="page-header" class="text-center">
      <h2><p class="text-center">Configuring device</p></h2>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%">
        <span class="sr-only">33% Complete</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <p><p>
</div>


<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
{% with messages = get_flashed_messages(category_filter=["error"]) %}
  {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
          {{ message }}<br>
        {% endfor %}
    </div>
  {% endif %}
{% endwith %}
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
{% with messages = get_flashed_messages(category_filter=["info"]) %}
  {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
          {{ message }}<br>
        {% endfor %}
    </div>
  {% endif %}
{% endwith %}
  </div>
</div>

{% endblock %}
