aaa.1.radius.acct.1.port=1813
aaa.1.radius.acct.1.status=disabled
aaa.1.radius.auth.1.port=1812
aaa.1.status=disabled
aaa.1.wpa.psk=%(aaa_1_wpa_psk)s
aaa.status=disabled
bridge.1.devname=br0
bridge.1.port.1.devname=ath0
bridge.1.port.1.status=enabled
bridge.1.status=enabled
bridge.1.stp.status=disabled
bridge.status=enabled
dhcpd.1.devname=eth0
dhcpd.1.dns.1.server=162.212.145.4
dhcpd.1.dns.2.server=162.212.144.124
dhcpd.1.dnsproxy=disabled
dhcpd.1.end=100.%(v_ip_high2)s.%(v_ip_low)s.254
dhcpd.1.lease_time=21600
dhcpd.1.netmask=255.255.255.0
dhcpd.1.start=100.%(v_ip_high2)s.%(v_ip_low)s.8
dhcpd.1.status=enabled
dhcpd.status=enabled
discovery.cdp.status=disabled
discovery.status=enabled
dyndns.1.servicename=dyndns.org
dyndns.status=disabled
ebtables.status=enabled
ebtables.sys.eap.1.devname=ath0
ebtables.sys.eap.1.status=enabled
ebtables.sys.eap.status=enabled
ebtables.sys.status=enabled
ebtables.sys.vlan.1.devname=ath0
ebtables.sys.vlan.1.id=1000
ebtables.sys.vlan.1.status=enabled
ebtables.sys.vlan.status=enabled
gui.language=en_US
gui.network.advanced.status=enabled
httpd.https.port=443
httpd.https.status=enabled
httpd.port=80
httpd.session.timeout=900
httpd.status=enabled
igmpproxy.status=disabled
igmpproxy.upstream.devname=br0
iptables.status=enabled
iptables.sys.fw.status=disabled
iptables.sys.masq.1.devname=ath0.1000
iptables.sys.masq.1.status=enabled
iptables.sys.masq.status=enabled
iptables.sys.portfw.status=disabled
iptables.sys.status=enabled
netconf.1.autoip.status=disabled
netconf.1.devname=ath0
netconf.1.mtu=1522
netconf.1.status=enabled
netconf.1.up=enabled
netconf.2.autoip.status=disabled
netconf.2.autoneg=enabled
netconf.2.devname=eth0
netconf.2.flowcontrol.rx.status=enabled
netconf.2.flowcontrol.tx.status=enabled
netconf.2.ip=100.%(v_ip_high2)s.%(v_ip_low)s.1
netconf.2.mtu=1522
netconf.2.netmask=255.255.255.0
netconf.2.role=lan
netconf.2.status=enabled
netconf.2.up=enabled
netconf.3.autoip.status=disabled
netconf.3.devname=ath0.1000
netconf.3.ip=100.100.%(v_ip_high)s.%(v_ip_low)s
netconf.3.mtu=1522
netconf.3.netmask=255.255.0.0
netconf.3.role=wan
netconf.3.status=enabled
netconf.4.autoip.status=disabled
netconf.4.devname=br0
netconf.4.mtu=1500
netconf.4.status=enabled
netconf.status=enabled
netmode=router
ntpclient.1.server=0.ubnt.pool.ntp.org
ntpclient.1.status=enabled
ntpclient.status=enabled
pwdog.delay=300
pwdog.period=300
pwdog.retry=3
pwdog.status=disabled
radio.1.ack.auto=enabled
radio.1.ackdistance=643
radio.1.acktimeout=25
radio.1.ampdu.frames=32
radio.1.ampdu.status=enabled
radio.1.antenna.gain=19
radio.1.antenna.id=1
radio.1.atpc.maxpower=0
radio.1.atpc.minpower=0
radio.1.atpc.status=disabled
radio.1.atpc.threshold=30
radio.1.cable.loss=0
radio.1.center.1.freq=0
radio.1.chanbw=10
radio.1.countrycode=840
radio.1.cwm.enable=0
radio.1.cwm.mode=1
radio.1.devname=ath0
radio.1.dfs.status=enabled
radio.1.freq=0
radio.1.ieee_mode=11acvht20
radio.1.low_txpower_mode=disabled
radio.1.mode=managed
radio.1.obey=enabled
radio.1.polling=enabled
radio.1.polling_11ac_11n_compat=0
radio.1.polling_11ac_hybrid=0
radio.1.pollingnoack=0
radio.1.pollingpri=2
radio.1.ptpmode=0
radio.1.reg_obey=enabled
radio.1.scan_list.status=disabled
radio.1.status=enabled
radio.1.subsystemid=0xe4f5
radio.1.txpower=24
radio.countrycode=840
radio.status=enabled
resolv.host.1.name=st-autoconfig-2002
resolv.host.1.status=enabled
resolv.nameserver.1.ip=162.212.145.4
resolv.nameserver.1.status=enabled
resolv.nameserver.2.ip=162.212.144.124
resolv.nameserver.2.status=enabled
resolv.nameserver.status=enabled
route.1.devname=ath0.1000
route.1.gateway=100.100.0.1
route.1.ip=0.0.0.0
route.1.netmask=0
route.1.status=enabled
route.status=enabled
snmp.community=%(snmp_community)s
snmp.contact=it-network-list@burningman.com
snmp.location=BRC
snmp.status=enabled
sshd.auth.key.1.comment=adminkey
sshd.auth.key.1.status=enabled
sshd.auth.key.1.type=ssh-rsa
sshd.auth.key.1.value=%(sshd_auth_key_1_value)s
sshd.auth.key.2.status=enabled
sshd.auth.key.2.type=ssh-rsa
sshd.auth.key.2.value=%(sshd_auth_key_2_value)s
sshd.auth.passwd=enabled
sshd.port=22
sshd.status=enabled
ssshd.auth.key.2.comment=userkey
syslog.remote.port=514
syslog.remote.status=disabled
syslog.status=enabled
system.cfg.version=65547
system.date.status=disabled
system.external.reset=enabled
system.timezone=GMT
telnetd.port=23
telnetd.status=disabled
tshaper.status=disabled
update.check.status=enabled
upnpd.status=disabled
users.1.name=admin
users.1.password=%(users_1_password)s
users.1.status=enabled
users.2.gid=100
users.2.name=guest
users.2.password=%(users_2_password)s
users.2.shell=/bin/false
users.2.status=enabled
users.2.uid=100
users.status=enabled
vlan.1.devname=ath0
vlan.1.id=1000
vlan.1.status=enabled
vlan.status=enabled
wireless.1.addmtikie=enabled
wireless.1.ap=%(quad)s
wireless.1.devname=ath0
wireless.1.hide_ssid=disabled
wireless.1.l2_isolation=disabled
wireless.1.mac_acl.policy=allow
wireless.1.mac_acl.status=disabled
wireless.1.mcast.enhance=1
wireless.1.rate.auto=enabled
wireless.1.rate.mcs=-1
wireless.1.security.type=none
wireless.1.signal_led1=94
wireless.1.signal_led2=80
wireless.1.signal_led3=73
wireless.1.signal_led4=65
wireless.1.signal_led_status=enabled
wireless.1.ssid=noc-ptmp
wireless.1.status=enabled
wireless.1.wds.status=enabled
wireless.status=enabled
wpasupplicant.device.1.devname=ath0
wpasupplicant.device.1.driver=madwifi
wpasupplicant.device.1.profile=WPA-PSK
wpasupplicant.device.1.status=enabled
wpasupplicant.profile.1.name=WPA-PSK
wpasupplicant.profile.1.network.1.bssid=%(quad)s
wpasupplicant.profile.1.network.1.eap.1.status=disabled
wpasupplicant.profile.1.network.1.key_mgmt.1.name=WPA-PSK
wpasupplicant.profile.1.network.1.pairwise.1.name=CCMP
wpasupplicant.profile.1.network.1.phase2=auth=MSCHAPV2
wpasupplicant.profile.1.network.1.proto.1.name=RSN
wpasupplicant.profile.1.network.1.psk=%(wpasupplicant_profile_1_network_1_psk)s
wpasupplicant.profile.1.network.1.ssid=noc-ptmp
wpasupplicant.status=enabled
